
<div id="nav">
    <div id="logo">
        <img src="/image/logo.jpg" alt="">
    </div>
    <div id="more">
        <a href="/">Home</a>
        <a href="/page/place/plan">Destination</a>
        <a href="https://github.com/Divyanshu-rajpoot/travel">About</a>
        <a href="https://github.com/Divyanshu-rajpoot/travel">Contact Us</a>
    </div>
    <div id="interface">
        <%if(!currentUser){%>
            <a href="/login">Login</a>
        <%}else{%>
            <a href="#">Hello <%= currentUser.username %></a>
            <a href="/logout">Logout</a>
        <%}%>
    </div>
</div>
