<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist Planner</title>
    <link rel="icon" type="image/x-icon" href="../../image/favi.jpg">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/../css/rnav.css">
    <link rel="stylesheet" href="/../css/index.css">
    <link rel="stylesheet" href="/../css/show.css">
    <link rel="stylesheet" href="/../css/new.css">
    <link rel="stylesheet" href="/../css/login.css">
    <link rel="stylesheet" href="/../css/states.css">
    <link rel="stylesheet" href="/../css/planner.css">
    <link rel="stylesheet" href="/../css/footer.css">
</head>

<body>

    <header>
        <%- include('../partials/navbar') %>
    </header>
    <main>
        <%- body -%>
    </main>

    <%- include('../partials/footer') %>





        <script src="../js/index.js"></script>
        <script src="../js/state.js"></script>
        <script src="/js/plan.js"></script>

</body>

</html>