
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "spinnaker";
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1 #img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    transition: all ease 0.5s;
    border-radius: 17px;
}
#page1 h1{
    color: #fff;
    font-size: 20vh;
    top: 30%;
    position:sticky;
    text-align: center;
    background: -webkit-linear-gradient(#D4145A , #fbb03b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#page2 {
    height: auto;
    width: 100%;
    background-color: #000;
}
#page2 #places{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    padding: 10vh;
}
#page2 #places h1{
    font-size:5vh;
    color: #ffa500;
    text-decoration: underline;

}
#page2 #actualplaces{
    height: auto;
    width:100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10vh;
    gap: 5vh;
}
#actualplaces #card{
    height: 53vh;
    width: 20vw;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
}
#card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card #placename{
    height: 10vh;
    width: 100%;

    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#placename h4{
    color: #111010;
    font-size: 5vh;
    text-align: center;
    word-wrap:break-word; 
}
#card:hover{
    scale: 1.2;
    transition: all ease 0.5s;
}
#page3{
    height: auto;
    width: 100%;
    background-color: #000;
}
#page3 #features h1{
    color: #ffa500;
    font-size: 5vh;
    text-align:left;
    padding: 10vh;
    margin-top: -10vh;
}
#cent{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px;
    gap: 20px;
}
#lefty{
    height: auto;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
    flex-direction: column;
    gap: 40px;
}
#righty{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    gap: 40px;
    margin-left:10px;
}
#lefty i{
    font-size: 2rem;
    color: black;
    padding: 10px;
    background-color: #B0FF44;
    border: none;
    border-radius: 10px;
}
#list{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize;
}
#righty i{
    font-size: 2rem;
    color: black;
    padding: 10px;
    background-color: #B0FF44;
    border: none;
    border-radius: 10px;
}